.wallets-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.wallet-options,
.wallet-settings {
  box-shadow: #ffe7c6 0 5px 10px;
  border-radius: 20px;
  padding: 10px;
}
.wallet-option {
  vertical-align: middle;
  margin: 10px 1px;
  display: flex;
  border-radius: 5pt;
  cursor: pointer;
}
.wallet-name {
  min-width: 10em;
  display: inline-block;
  padding: 1pt 2pt 1pt 4pt;
}
.wallet-icon {
  vertical-align: middle;
}
